/* ****************************************** */
/* ****************SMARTEE - TEAM**************** */
/* ****************************************** */
.team {
    margin-bottom: 70px;
}

.team .title {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
}

.team .title::before,
.team .title::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: #ddd;
    transform: translateY(-8px);
    margin: 0 10px;
}

.team table {
    width: 100%;
}

.team table tr td {
    padding: 20px;
    font-size: 18px;
    border: 1px solid #eee;
}

.team table tr:first-child {
    background-color: #2f5597;
}

.team table tr:first-child td {
    background-color: #2f5597 !important;
}

.team table tr:first-child td {
    color: #fff;
}

.team table tr td:first-child {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
}

/* ****************************************** */
/* ****************SMARTEE - HISTORY**************** */
/* ****************************************** */

.history {
    margin: 50px 0 70px;
}

.history .tree {
    position: relative;
}

.history .tree .line {
    width: 20px;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #f3f3f3;
}

.history .tree .item {
    width: 40%;
    text-align: right;
    position: relative;
}

.history .tree .item:nth-child(even) {
    margin-left: auto;
    text-align: left;
}

.history .tree .item:not(:first-child) {
    margin-top: -20px;
}

.history .tree .item:nth-child(even)::before {
    left: -46px;
    right: unset;
}

.history .tree .item:nth-child(even)::after {
    left: -81px;
    right: unset;
}

.history .tree .item::before {
    content: "";
    position: absolute;
    right: -46px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    width: 30px;
    height: 3px;
}

.history .tree .item::after {
    content: "";
    position: absolute;
    right: -81px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid #fff;
    z-index: 9;
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.25);
}

.history .tree .item .year {
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

.history .tree .item .title {
    font-size: 20px;
    font-weight: 600;
}

.history .tree .item .desc {
    font-weight: 300;
}

.history .content {
    padding-left: 80px;
}

.history .content h3 {
    font-size: 40px;
    color: var(--seconday-color);
    margin-bottom: 20px;
    font-weight: 600;
}

.history .content h3 span {
    color: var(--primary-color);
}

.history .content p {
    font-size: 18px;
    font-weight: 300;
    color: var(--seconday-color);
    margin-bottom: 30px;
}
