.service-details .s-top .form h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
    margin: 18px 0;
}

.service-details .s-top .form p {
    font-size: 18px;
    font-weight: 400;
}

.desc:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}
