@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

ul {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
}

input {
    outline: none;
}

body {
    font-family: Poppins, sans-serif;
    font-size: var(--FS-15);
    font-weight: var(--FW-400);
    scroll-behavior: smooth;
}

/* HOMEPAGE */

.button-icon-1 {
    border: 2px solid var(--primary-color);
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--BR-50);
    transition: all 0.5s ease 0s;
}

.button-icon-1 i {
    font-size: var(--FS-20);
    color: var(--primary-color);
    transition: all 0.5s ease 0s;
}

.button-icon-1:hover {
    background-color: var(--primary-color);
}

.button-icon-1:hover i {
    color: var(--hover);
}
/* HEADER */

.header {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    transition: 0.5s;
}

.headerfix {
    position: fixed;
    top: 0;
    z-index: 99999;
    background-color: var(--white);
    width: 100%;
    left: 0;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
}

.headerfix.fixed .header {
    margin: 5px 0;
}

.header .menu {
    margin-left: auto;
}

.header .menu ul li {
    display: inline-block;
    margin-left: 40px;
    font-size: var(--FS-18);
    font-weight: var(--FW-300);
    cursor: pointer;
}

.header .menu ul li {
    position: relative;
    transition: all 0.5s ease 0s;
}

.header .menu ul li::after {
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    position: absolute;
    bottom: -20px;
    background-color: var(--primary-color);
    transition: all 0.5s ease 0s;
}

.header .menu ul li:hover::after {
    width: 100%;
}

.header .menu ul li:hover a {
    color: var(--primary-color);
}

.header .phone {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .phone i {
    font-size: var(--FS-24);
    color: var(--primary-color);
    margin-right: 15px;
}

.header .phone p {
    margin-bottom: 5px;
    font-size: var(--FS-18);
    font-weight: var(--FW-300);
}

.header .phone p:last-child {
    color: var(--primary-color);
    font-weight: var(--FW-500);
}

.header .icon {
    margin-left: 30px;
}

.header .icon div {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin-bottom: 5px;
    transition: 0.5s;
}

.header .icon div:last-child {
    margin-bottom: 0;
}

.header .icon.active div:nth-child(2) {
    opacity: 0;
}

.header .icon.active div:first-child {
    transform: rotate(45deg) translate(5px, 8px);
}

.header .icon.active div:last-child {
    transform: rotate(-45deg) translate(3px, -6px);
}

.header .dropdown {
    margin-left: 30px;
}

.header .dropdown button {
    background-color: var(--white);
    color: var(--btn-bg);
    border: 1px solid #eee;
}

.header .dropdown button:active {
    background-color: transparent;
    border: 1px solid #eee;
    color: var(--btn-bg);
}

.header .dropdown-menu.show {
    min-width: 75px;
}

/* COMPANY */

.company .card-1 {
    padding: 20px;
    box-shadow: rgba(147, 147, 147, 0.25) 0px 0px 10px;

    text-align: center;
    border-radius: 20px;
    display: block;
    margin-top: 40px;
    border-bottom: 2px solid var(--primary-color);
}

.company .card-1 .icon i {
    color: var(--primary-color);
    font-size: var(--FS-46);
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
}

.company .card-1 i {
    font-size: var(--FS-20);
    margin-right: 15px;
    color: var(--primary-color);
}

.company .card-1 h3 {
    font-size: var(--FS-24);
    color: var(--seconday-color);
    font-weight: var(--FW-700);
}

.company .card-1 p {
    font-size: var(--FS-16);
    color: var(--secondary-color);
}

/* ABOUT */

.about {
    margin: 60px 0px;
}

.about .thumb {
    position: relative;
}

.about .thumb img:first-child {
    width: 60%;
}

.about .thumb img:nth-child(2) {
    position: absolute;
    right: 40px;
    bottom: -70px;
    width: 52%;
}

.about .thumb img:nth-child(3) {
    position: absolute;
    right: 140px;
    top: 110px;
    z-index: -1;
    width: 30%;
}

.about .year {
    position: absolute;
    left: -15px;
    bottom: -20px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: var(--white);
    font-weight: var(--FW-600);
}

.about .year::before {
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #3c6489;
    position: absolute;
    top: -12px;
    left: 1px;
    opacity: 1;
    transition: 0.5s;
    z-index: -1;
    transform: rotate(315deg);
}

.about ul {
    margin-left: 20px;
    margin-top: 50px;
}

.about ul li {
    display: inline-flex;
    align-items: center;
    width: calc(50% - 5px);
    margin-bottom: 30px;
    font-size: var(--FS-16);
    color: var(--seconday-color);
}

.about .icon {
    background-color: var(--primary-color);
    border-radius: 2px;
    position: relative;
    font-size: var(--FS-8);
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-right: 10px;
}

.about .icon::before {
    content: "";
    position: absolute;
    left: -100%;
    width: 3em;
    height: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
}

.about h3 {
    font-size: var(--FS-46);
    font-weight: var(--FW-600);
    color: var(--seconday-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.about h3 span {
    color: var(--primary-color);
}

.about p {
    font-weight: var(--FW-300);
    font-size: var(--FS-18);
    color: var(--seconday-color);
}

/* SERVICE */

.service {
    position: relative;
    padding-top: 50px;
    margin-top: 100px;
}

.service::before {
    content: "";
    display: block;

    background-color: var(--bg-color2);
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.service .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.service .left {
    width: 30%;
}

.service .left h5 {
    font-size: var(--FS-20);
    color: var(--seconday-color);
    font-weight: var(--FW-500);
}

.service .left h2 {
    font-size: var(--FS-42);
    color: var(--primary-color);
    font-weight: var(--FW-700);
}

.service .right {
    width: 70%;
}

.service .right p {
    font-size: var(--FS-18);
    font-weight: var(--FW-300);
    color: var(--seconday-color);
    margin-left: 80px;
}

.service .card-1 {
    padding: 40px;
    box-shadow: rgba(147, 147, 147, 0.25) 0px 0px 10px;
    background-color: var(--white);
    text-align: center;
    border-radius: var(--BR-lg);
    display: block;
    margin-bottom: 30px;
}

.service .card-1 .icon i {
    color: var(--primary-color);
    font-size: var(--FS-65);
    display: inline-block;
    text-align: center;
}

.service .card-1 h3 {
    font-weight: var(--FW-500);
    font-size: var(--FS-24);

    margin: 20px 0;
    transition: all 0.5s ease 0s;
    color: var(--seconday-color);
    font-weight: var(--FW-700);
}

.service .card-1 p {
    font-weight: var(--FW-300);
    font-size: var(--FS-16);
    color: var(--seconday-color);
}

/* TECHNOLOGY */

.technology {
    position: relative;
    padding: 100px 0px;
    margin-top: 50px;
    background-color: var(--bg-blue);
}

.technology::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/bg/bg-1.png");
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.technology .up {
    z-index: 1;
    position: relative;
}

.technology h5 {
    color: var(--primary-color);
    font-size: var(--FS-20);
    font-weight: var(--FW-300);
}

.technology h3 {
    font-size: var(--FS-32);
    font-weight: var(--FW-300);
    color: var(--white);
    width: 70%;
    margin-top: 25px;
}

.technology h3 span {
    font-size: var(--FS-48);
    font-weight: var(--FW-800);
    color: var(--white);
}

.technology p {
    font-size: var(--FS-18);
    font-weight: var(--FW-300);
    color: var(--seconday-color);
}

.technology .button {
    margin-bottom: 50px;
}

.technology button {
    padding: 10px 40px;
    border-radius: var(--BR-sm);
    background: rgba(255, 255, 255, 0.18);
    border: 1px solid var(--white);
    color: var(--white);
    font-size: var(--FS-16);
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 15px;
    transition: all 0.5s ease 0s;
}

.technology button:hover,
.technology button.active {
    background: var(--primary-color);
}

.technology .card-technology {
    display: none;
}

.technology .card-technology.active {
    display: block;
}

.technology .card-technology .card {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    margin: 15px 0px;
}

.technology .card-technology .card i {
    font-size: var(--FS-80);
    color: var(--white);
    margin: 15px 0px;
}

.technology .card-technology .card p {
    font-size: var(--FS-20);
    color: var(--white);
    margin-top: 15px;
}

/* PROJECTS */

.project2 {
    margin: 60px 0px;
}

.project2 .projects-top {
    text-align: center;
    margin-bottom: 50px;
}

.project2 .projects-top h3 {
    font-size: var(--FS-48);
    font-weight: var(--FW-600);
    color: var(--seconday-color);
}

.project2 .projects-top h3 span {
    color: var(--primary-color);
}

.project2 .projects-top p {
    font-size: var(--FS-20);
    font-weight: var(--FW-300);
    color: var(--seconday-color);
    width: 50%;
    margin: 20px auto 0;
}

.project2 .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project2 .menu ul li:first-child {
    margin-left: 0;
}

.project2 .menu ul li:last-child {
    margin-right: 0;
}

.project2 .menu ul li {
    width: 25%;
    margin: 0px 20px;
    padding: 25px 30px;
    border: 1px solid var(--primary-color);
    border-radius: var(--BR-md);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--FS-55);
    text-align: center;
    background-color: rgb(249 249 249);
    position: relative;
    cursor: pointer;
}

.project2 .menu ul li::after {
    content: "";
    display: block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--primary-color);
    position: absolute;
    bottom: -21px;
    left: 50%;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%);
}

.project2 .menu ul li.active::after {
    opacity: 1;
}

.project2 .menu ul li.active::after {
    opacity: 1;
}

.project2 .menu ul li div {
    position: relative;
    color: var(--primary-color);
}

.project2 .menu ul li div::after {
    content: "";
    display: block;
    position: absolute;
    top: 35px;
    left: 60px;
    border-radius: 65% 35% 70% 30% / 8% 81% 19% 92%;
    width: 50px;
    height: 50px;
    background-color: rgb(105 150 193 / 24%);
    z-index: 0;
}

.project2 .menu ul li h3 {
    font-size: var(--FS-20);
    text-align: center;
    margin-top: 10px;
    color: rgb(51, 51, 51);
}

.project2 .menu ul li i {
    position: relative;
    z-index: 1;
}

.project2 .content {
    margin-top: 50px;
}

.project2 .content .row {
    align-items: center;
}

.project2 .content .box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: var(--BR-md);
    padding: 30px;
    display: none;
    transition: 0.5s;
}

.project2 .content .box.active {
    display: block;
}

.project2 .content .box h3 {
    font-weight: var(--FW-600);
    font-size: var(--FS-24);
    margin-bottom: 30px;
}

.project2 .content .box p {
    font-weight: var(--FW-300);
}

.project2 .content .box a {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 5px 20px;
    margin-top: 30px;
    color: var(--white);
    border-radius: var(--BR-sm);
    font-size: var(--FS-16);
}

/* SOLUITONS */

.business-solutions {
    position: relative;
    background-color: var(--bg-blue);
}

.business-solutions::before {
    content: "";
    display: block;
    background-image: url("../img/bg/bg-3.png");
    background-position: top right;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.business-solutions .thumb {
    width: 30%;
}

.business-solutions .content {
    width: 70%;

    padding: 0 80px;
}

.business-solutions .solutions-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.business-solutions .solutions-title p {
    color: var(--white);
    font-size: var(--FS-18);

    margin-top: 20px;
    font-weight: var(--FW-300);
}

.business-solutions .solutions-title span {
    color: var(--primary-color);
    font-weight: var(--FW-500);
    margin-bottom: 10px;
    margin-top: 10px;
}

.business-solutions .solutions-title .contact-us {
    padding: 18px 24px;
    border: none;
    color: var(--white);
    background-color: var(--btn-color);
    transition: all 0.5s ease 0s;
    border-radius: var(--BR-md);
    z-index: 1;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.business-solutions ul {
    margin-left: 20px;
    margin-top: 50px;
}

.business-solutions ul li {
    display: inline-flex;
    align-items: center;

    width: calc(50% - 5px);
    margin-bottom: 20px;
    font-size: var(--FS-16);
    color: var(--white);
}

.business-solutions i {
    font-size: var(--FS-30);
    color: var(--primary-color);
    margin-right: 20px;
}

.business-solutions h6 {
    color: var(--white);
    font-size: var(--FS-40);

    margin-top: 20px;
    font-weight: var(--FW-300);
}

.business-solutions .solutions-title .contact-us:hover {
    background-color: var(--primary-color);
}

/* PARTNERSHIP */

.partnerships {
    margin-top: 20px;
}

.partnerships .partnerships-top {
    margin-bottom: 50px;
}

.partnerships .partnerships-top h5 {
    font-size: var(--FS-48);
    color: var(--seconday-color);
    font-weight: var(--FW-700);
    margin-bottom: 20px;
}

.partnerships .partnerships-top h5 span {
    color: var(--primary-color);
}

.partnerships .partnerships-top p {
    font-size: var(--FS-18);
    font-weight: var(--FW-300);
    color: var(--seconday-color);
    line-height: 35px;
}

.partnerships .partnerships-bottom {
    font-size: var(--FS-32);
    font-weight: var(--FW-600);
    color: var(--white);
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.partnerships .partnerships-bottom h5 {
    font-size: var(--FS-32);
    font-weight: var(--FW-600);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.partnerships .partnerships-bottom p {
    font-size: var(--FS-20);
    color: var(--seconday-color);
}

/* CLIENTS */

.clients {
    margin-top: 30px;
}

.clients .col-md-2 {
    width: 20%;
}

/* CAREERS */

.careers {
    background-color: var(--bg-blue);
}

.careers .content {
    padding: 60px 0 40px 100px;
}
.careers .content h6 {
    color: var(--white);
    font-size: var(--FS-38);
}

.careers .content h6 span {
    color: var(--primary-color);
}

.careers .content a {
    padding: 18px 24px;
    border: none;
    color: var(--white);
    background-color: var(--btn-color);
    transition: all 0.5s ease 0s;
    border-radius: var(--BR-md);
    z-index: 1;
    position: relative;
    display: inline-block;

    margin-right: 10px;
}

.careers .content a:hover {
    background-color: var(--primary-color);
}

.careers .content ul {
    margin-top: 50px;
}

.careers .content ul li {
    display: inline-flex;
    align-items: center;
    width: calc(50% - 5px);
    margin-bottom: 30px;
    font-size: var(--FS-18);
    color: #c5e3ff;
}

.careers .content p {
    font-size: var(--FS-18);
    color: #e2f1ff;
    margin-top: 10px;
}

.careers .content i {
    font-size: var(--FS-30);
    color: var(--primary-color);
    margin-right: 20px;
    border: 1px solid #4e4975;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #332f56;
}

/* CONTACT US */

.contactus {
    margin: 50px 0;
}

.contactus h6 {
    font-size: var(--FS-16);
    font-weight: var(--FW-400);
    color: var(--black);
    margin-bottom: 10px;
}

.contactus h3 {
    font-size: var(--FS-26);
    font-weight: var(--FW-600);
    color: var(--primary-color);
    margin-bottom: 30px;
}

.contactus .form-input {
    width: 90%;
    border-radius: var(--BR-md);
    padding: 20px;
    background-color: #f5f5f5;
    border: none;
    margin: 10px 0;
}

.contactus form button {
    width: 90%;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 15px;
    border-radius: var(--BR-md);
    text-align: center;
    color: var(--white);
    margin-top: 10px;
    border: none;
}

.contactus .contactus-infor li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contactus .contactus-infor li p {
    margin-bottom: 0px;
    margin-left: 15px;
}

.contactus .contactus-infor li i {
    color: var(--primary-color);
    font-size: var(--FS-24);
}

/* FOOTER */

.footer {
    background-color: var(--bg-blue);
    color: rgba(217, 217, 217, 0.624);
    padding: 30px 0px;
    background-image: url("../img/bg/bg-4.png");
    background-size: cover;
}

.footer .footer-top {
    padding: 30px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.footer .footer-top .logo {
    margin-bottom: 10px;
    width: 200px;
}

.footer .footer-top .desc-1 {
    font-weight: var(--FW-300);
    font-size: var(--FS-16);
    color: rgba(217, 217, 217, 0.5);
    margin-top: 20px;
}

.footer .footer-top .social i {
    font-size: var(--FS-20);
    color: var(--primary-color);
    transition: all 0.5s ease 0s;
}

.footer .footer-top .social a {
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: var(--BR-sm);
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}

.footer .footer-top .social a:hover {
    background-color: var(--primary-color);
}

.footer .footer-top .social a:hover i {
    color: var(--hover);
}

.footer .footer-title {
    font-size: var(--FS-20);
    margin-bottom: 20px;
    color: var(--hover);
}

.footer .footer-service li a {
    font-weight: var(--FW-300);
    font-size: var(--FS-16);
    color: rgba(217, 217, 217, 0.5);
    transition: all 0.5s ease 0s;
}

.footer .footer-service li a:hover {
    color: var(--primary-color);
}

.footer .footer-service li {
    margin-bottom: 10px;
}

.footer .footer-infor li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer .footer-infor li p {
    margin-bottom: 0px;
    margin-left: 15px;
}

.footer .footer-infor li i {
    color: var(--primary-color);
    font-size: var(--FS-24);
}

.footer .desc-2 {
    font-size: var(--FS-16);
    font-weight: var(--FW-300);
}

.footer input {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.footer .footer-form {
    position: relative;
}

.footer .footer-form button {
    position: absolute;
    top: 1px;
    right: 3px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: var(--BR-lg);
    width: 40px;
    height: 40px;
    border: none;
}

.footer .footer-form button i {
    color: var(--hover);
}

.footer .footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer .footer-bottom p span {
    color: var(--primary-color);
}

.ft-backtop {
    opacity: 0;
    font-size: var(--FS-20);
    border: 1px solid #e6e6e6;
    background-color: rgb(220 220 220 / 50%);
    z-index: 99;
    position: fixed;
    padding: 10px;
    right: 21px;
    border-radius: var(--BR-sm);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: calc(60% - 1em);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.ft-backtop i {
    color: var(--black);
}

.ft-backtop.is-show {
    opacity: 1;
    bottom: 10px;
}

/* BANNER */
.banner-bottom {
    position: relative;
    padding: 150px 0px;
    background-color: rgb(174, 167, 167);
    z-index: 1;
    background-image: url("../img/bg/bg-about.jpg");
    background-size: cover;
    margin-top: 104px;
}

.banner-bottom::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.94) 70%, rgba(255, 255, 255, 0));
}

.banner-bottom .banner-title {
    position: absolute;
    top: 50%;
}

.banner-bottom .banner-title h3 {
    font-size: var(--FS-30);
    font-weight: var(--FW-700);
    color: var(--seconday-color);
}

/* ABOUT */

.about-list {
    margin: 40px 0;
}

.about-list .list {
    display: flex;
}

.about-list .list .item {
    width: 25%;
    margin: 0 15px;
}

.about-list .list .icon {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: var(--FS-24);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--BR-50);
    border: 5px solid var(--white);
    margin: 0 auto -10px;
    z-index: 1;
    position: relative;
}

.about-list .list .item:nth-child(even) .icon {
    background-color: var(--seconday-color);
}

.about-list .list .title {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 10px 0 8px;
    position: relative;
}

.about-list .list .title h3 {
    font-size: var(--FS-24);
    margin-top: 5px;
    margin-left: 10px;
}

.about-list .list .item:nth-child(even) .title {
    background-color: var(--seconday-color);
}

.about-list .list .title::after,
.about-list .list .title::before {
    content: "";
    display: block;
    position: absolute;
    right: -30px;
    top: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid var(--primary-color);
}

.about-list .list .item:nth-child(even) .title::after {
    border-left: 30px solid var(--seconday-color);
}

.about-list .list .title::before {
    right: unset;
    left: 0;
    border-left: 30px solid var(--white);
}

.about-list .list .number {
    background-color: var(--primary-color);
    display: inline-block;
    font-size: var(--FS-30);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: var(--BR-50);
    margin-top: 30px;
    margin-bottom: 15px;
}

.about-list .list .item:nth-child(even) .number {
    background-color: var(--seconday-color);
}

.about-list .list .text {
    border-left: 8px solid var(--primary-color);
    padding-left: 15px;
}

.about-list .list .item:nth-child(even) .text {
    border-left: 8px solid var(--seconday-color);
}

.about-list .list .text h4 {
    color: var(--primary-color);
    font-size: var(--FS-24);
    font-weight: var(--FW-600);
}

.about-list .list .item:nth-child(even) .text h4 {
    color: var(--secondary-color);
}

.about-list .list .text p {
    color: #999;
}

/* CHOOSE US */

.choose-us {
    padding-bottom: 45px;
    margin-top: 60px;
}

.choose-us h3 {
    font-size: var(--FS-42);
    color: var(--seconday-color);
    margin-bottom: 20px;
    font-weight: var(--FW-600);
}

.choose-us h3 span {
    color: var(--primary-color);
}

.choose-us p {
    font-size: var(--FS-20);
    font-weight: var(--FW-300);
    color: var(--seconday-color);
}

.choose-us .img-right {
    margin-top: 80px;
}

.choose-us .chooseus-desc img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.choose-us .chooseus-desc img:hover {
    transform: translate(s);
}

.choose-us .chooseus-desc h6 {
    font-size: var(--FS-24);
    font-weight: var(--FW-500);
    color: var(--seconday-color);
    margin-top: 10px;

    border-bottom: 1px solid rgb(237, 237, 237);
    padding: 5px 0;
}

.choose-us .chooseus-desc p {
    font-size: var(--FS-18);
    font-weight: var(--FW-300);
}

.about i {
    font-size: var(--FS-30);
    color: var(--primary-color);
    margin-right: 15px;
}

.about p {
    margin-bottom: 40px;
}

.about img {
    margin-top: 20px;
}

.about ul {
    margin: 0;
}

.about-list {
    margin: 0;
}

.about-list h2 {
    font-size: var(--FS-24);
    color: var(--seconday-color);

    text-align: center;
    margin-top: 40px;
}

.about-list h2 span {
    color: var(--primary-color);
}

.about-list p {
    font-size: var(--FS-20);
    color: var(--seconday-color);
    text-align: center;
    margin-bottom: 20px;
}

/* TEAM */

.team {
    background-color: aliceblue;
    margin-bottom: 50px;
}

.team .team-tilte {
    font-weight: var(--FW-700);
    font-size: var(--FS-26);
    text-align: center;
    color: var(--seconday-color);
    margin-top: 35px;
    margin-bottom: 40px;
}

.imggteam-2 {
    height: 460px;
}

.team-member {
    margin: 80px 0px 0px;

    background-size: cover;
    padding: 20px 0px 70px;
    background-color: rgba(105, 150, 193, 0.06);
}
.team-member .slick-prev:before,
.team-member .slick-next:before {
    color: #bbb;
}

.team-desc {
    margin: 50px 0px;
}

.team-member .team-desc h5 {
    color: var(--primary-color);
    font-size: var(--FS-20);
    font-weight: var(--FW-400);
}

.team-member .team-desc h3 {
    font-size: var(--FS-30);
    font-weight: var(--FW-800);
    color: var(--seconday-color);
    width: 70%;
    margin-top: 20px;
}

.team-member .team-desc h3 span {
    color: var(--primary-color);
}

.team-member p {
    font-size: var(--FS-18);
    font-weight: var(--FW-400);
    color: var(--seconday-color);
}

.team-img .card-member {
    border-radius: var(--BR-sm);
    padding-bottom: 15px;
}

.team-img .card-member .thumb {
    background-image: url(../img/bg/bg-11.png);
    background-size: cover;
    background-size: 100%;
}

.team-img .card-member .thumb img {
    border-radius: var(--BR-50);
}

.team-img .card-member h3 {
    font-size: var(--FS-20);
    font-weight: var(--FW-500);
    color: var(--seconday-color);
    text-align: center;
    margin-top: 15px;
}

.team-img .card-member h6 {
    font-size: var(--FS-16);
    font-weight: var(--FW-500);
    color: var(--primary-color);
    text-align: center;
}

.team-img .item {
    margin: 0 50px;
}

.team-img .slick-dots {
    bottom: -40px;
}
.c-button-3 {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: block;
    background-color: var(--primary-color);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--BR-50);
    transition: 0.5s;
    z-index: 999;
    color: var(--white);
}

.c-button-3::before,
.c-button-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    animation: ripple 3s infinite;
    border-radius: var(--BR-50);
    z-index: -1;
}

.c-button-3::before {
    animation-delay: 0.9s;
}

.c-button-3::after {
    animation-delay: 0.6s;
}

@keyframes ripple {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
/* RESPONSIVE */

/* ************1201PX************ */
@media (min-width: 991px) {
    .c-button-3 {
        display: none;
    }
}
@media (min-width: 1201px) {
    .header .icon {
        display: none;
    }
}

/* ************1400PX************ */

@media (max-width: 1400px) {
    .header .menu ul li {
        margin-left: 35px;
        font-size: var(--FS-16);
        font-weight: var(--FW-300);
    }
    .header .logo img {
        width: 175px;
    }
}

/* ************1200px************ */

@media (max-width: 1200px) {
    .header {
        margin: 10px 0px;
    }
    .header .menu ul li {
        margin-left: 15px;
    }
    .header .phone p {
        font-size: var(--FS-15);
    }
}

/* ************991px************ */

@media (max-width: 991px) {
    .header {
        margin: 5px 0px;
    }

    .header .menu {
        opacity: 0;
        position: absolute;
        right: -100%;
        top: 55px;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        background-color: var(--white);

        width: 200px;
        transition: 0.5s;
    }

    .header .menu ul li {
        display: block;
        margin-left: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        padding-bottom: 12px;
        margin-top: 5px;
    }

    .header .menu ul li::after {
        bottom: 0;
    }

    .header .menu ul li:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .header .menu ul li a {
        font-size: var(--FS-18);
        padding: 10px 20px;
        display: block;
    }

    .header .menu.active {
        opacity: 1;
        right: 0;
    }

    .project2 .menu ul li {
        padding: 10px 0;
        font-size: var(--FS-30);
        margin: 0 10px;
    }

    .project2 .menu ul li div::after {
        top: 15px;
        left: 40px;
        width: 40px;
        height: 35px;
    }

    .project2 .menu ul li h3 {
        font-size: var(--FS-14);
    }

    .project2 .menu ul li a::after {
        display: none;
    }

    .company .card-1 {
        padding: 15px;
        display: none;
    }

    .company .card-1 h3 {
        font-size: var(--FS-20);
    }

    .about {
        margin: 5px 0px;
    }

    .about h3 {
        font-size: var(--FS-40);
        margin-top: 0;
    }

    .about .thumb {
        display: none;
    }

    .service {
        margin-top: 30px;
    }

    .service .right p {
        display: none;
    }

    .service .top {
        display: block;
    }

    .service .left {
        width: 100%;
        text-align: center;
    }

    .service .card-1 {
        padding: 10px;
    }

    .service .card-1 h3 {
        font-size: var(--FS-16);
        margin-bottom: 10px;
    }

    .service .card-1 .icon i {
        font-size: var(--FS-42);
    }

    .technology {
        margin-top: 20px;
        padding: 50px 0;
    }

    .project2 {
        margin: 40px 0px;
    }

    .project2 .projects-top h3 {
        font-size: var(--FS-40);
    }

    .project2 .projects-top p {
        width: 100%;
        font-size: var(--FS-18);
    }

    .project2 .projects-top {
        margin-bottom: 30px;
    }

    .project2 .content .box h3 {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .team-member .team-desc h3 {
        width: 100%;
    }

    .team-member p {
        font-size: var(--FS-16);
    }

    .team-desc {
        margin: 30px 0px;
    }

    .choose-us .img-right {
        margin-top: 0;
    }

    .careers img {
        display: none;
    }

    .careers .content {
        padding: 35px 0;
    }

    .careers .content ul {
        margin-top: 30px;
    }
}

/* ************767px************ */

@media (max-width: 767px) {
    .header {
        margin: 15px 0px !important;
    }

    .header .dropdown {
        margin-left: auto;
    }

    .header .icon {
        margin-left: 20px;
    }

    .header .phone {
        display: none;
    }

    .project2 .content .box {
        padding: 10px;
    }

    .project2 .menu ul li {
        transition: 0.5s;
    }

    .project2 .menu ul li::after {
        display: none;
    }

    .project2 .menu ul li div::after {
        display: none;
    }

    .project2 .menu ul li.active {
        background-color: var(--primary-color);
    }

    .project2 .menu ul li.active i {
        color: var(--white);
    }

    .project2 .menu ul li.active h3 {
        color: var(--white);
    }

    .project2 .menu ul {
        flex-wrap: wrap;
    }

    .project2 .menu ul li {
        width: 45%;
        margin: 10px !important;
    }

    .project2 .content {
        margin-top: 20px;
    }

    .about h3 {
        font-size: var(--FS-24);
    }

    .company .card-1 {
        margin-top: 25px;
    }

    .about p {
        margin-bottom: 20px;
        font-size: var(--FS-15);
    }

    .technology .button {
        margin-bottom: 25px;
    }

    .technology h3 {
        width: 100%;
    }

    .technology button {
        padding: 5px 30px;
        font-size: var(--FS-14);
        margin-right: 10px;
        margin-top: 5px;
    }

    .technology .card-technology .card i {
        font-size: var(--FS-50);
    }

    .choose-us h3 {
        font-size: var(--FS-30);
    }

    .choose-us p {
        font-size: var(--FS-16);
    }

    .choose-us {
        padding-bottom: 10px;
        margin-top: 25px;
    }

    .partnerships .partnerships-bottom h5 {
        font-size: var(--FS-24);
    }

    .contactus button {
        margin-bottom: 30px;
        width: 100% !important;
    }

    .contactus .form-input {
        width: 100%;
    }

    .footer .footer-title {
        margin-top: 20px;
    }

    .footer .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer .footer-top {
        padding: 15px 0px 30px;
    }
}

/* ************575px************ */
@media (max-width: 575px) {
    .about ul li {
        margin-bottom: 10px;
        font-size: var(--FS-14);
    }

    .about i {
        font-size: var(--FS-20);
    }

    .technology h3 span {
        font-size: var(--FS-46);
    }

    .technology h3 {
        font-size: var(--FS-24);
    }

    .choose-us .chooseus-desc h6 {
        font-size: var(--FS-16);
    }

    .choose-us .chooseus-desc p {
        font-size: var(--FS-16);
    }

    .service .card-1 p {
        display: none;
    }

    .service .card-1 {
        margin-bottom: 20px;
    }

    .service .card-1 h3 {
        margin: 10px 0 0;
        font-weight: var(--FW-500);
    }

    .service {
        padding-top: 40px;
    }

    .service .left h5 {
        font-size: var(--FS-18);
    }

    .service .left h2 {
        font-size: var(--FS-34);
    }

    .technology {
        padding: 35px 0 20px;
    }

    .technology .desc {
        display: none;
    }

    .technology h3 {
        font-size: var(--FS-20);
    }

    .technology h3 span {
        font-size: var(--FS-34);
        margin-top: 10px;
        display: block;
    }

    .technology button {
        padding: 5px 15px;
    }

    .technology .button {
        margin-bottom: 5px;
    }
    .technology .card-technology .card p {
        margin-top: 0;
    }

    .technology .card-technology .card i {
        font-size: 35px;
    }

    .technology .card-technology .card {
        margin: 15px 0px 10px;
    }

    .project2 .projects-top {
        margin-bottom: 20px;
    }

    .project2 .projects-top h3 {
        font-size: var(--FS-34);
    }

    .project2 .projects-top p {
        margin: 10px auto 0;
        font-size: var(--FS-16);
    }

    .project2 {
        margin: 25px 0px;
    }

    .team-member {
        margin: 40px 0px 0px;
        padding: 20px 0px 25px;
    }

    .team-desc {
        margin: 10px 0px;
    }

    .choose-us h3 {
        font-size: var(--FS-24);
        margin-bottom: 15px;
    }

    .choose-us p {
        font-size: var(--FS-16);
    }

    .choose-us .chooseus-desc img {
        width: 45px;
        height: 45px;
    }

    .choose-us .chooseus-desc p {
        font-size: var(--FS-15);
    }

    .partnerships .partnerships-bottom h5 {
        font-size: var(--FS-18);
    }

    .partnerships .partnerships-bottom p {
        font-size: var(--FS-18);
    }

    .contactus {
        margin: 35px 0 15px;
    }

    .contactus iframe {
        display: none;
    }

    .container {
        padding: 0 20px;
    }

    .careers .content {
        text-align: center;
    }

    .header .dropdown button {
        padding: 2px 10px;
        font-size: var(--FS-14);
    }
}

/* ************479px************ */
@media (max-width: 479px) {
    .project2 .menu ul li {
        width: 40%;
    }

    .careers .content ul li {
        flex-direction: column;
        align-items: center;
    }

    .careers .content i {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
