/* ****************************************** */
/* ****************TEAM**************** */
/* ****************************************** */

.team {
    background-color: aliceblue;
}

.team .team-tilte {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: var(--seconday-color);
    margin-top: 35px;
    margin-bottom: 40px;
}

.imggteam-2 {
    height: 460px;
}

.team-member {
    margin: 80px 0;
}
.team-desc {
    margin: 50px 0;
}
.team-member h5 {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
}

.team-member h3 {
    font-size: 32px;
    font-weight: 800;
    color: #000;
}
.team-member p {
    font-size: 18px;
    font-weight: 400;
    color: var(--seconday-color);
}

.team-img .card-member {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-bottom: 15px;
}

.team-img .card-member h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--seconday-color);
    text-align: center;
    margin-top: 15px;
}

.team-img .card-member h6 {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
}
